USE [master]
GO
/****** Object:  Database [GerenciamentoPedidos]    Script Date: 05/09/2025 15:34:57 ******/
CREATE DATABASE [GerenciamentoPedidos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GerenciamentoPedidos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GerenciamentoPedidos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GerenciamentoPedidos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GerenciamentoPedidos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GerenciamentoPedidos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GerenciamentoPedidos]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 05/09/2025 15:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 05/09/2025 15:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 05/09/2025 15:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusChanges]    Script Date: 05/09/2025 15:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusChanges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 05/09/2025 15:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Email], [Phone], [CreatedAt]) VALUES (2, N'MATHEUS SOUZA GOMES', N'matheusgomes710@gmail.com', N'11973625464', CAST(N'2025-09-04T18:00:19.713' AS DateTime))
INSERT [dbo].[Customers] ([Id], [Name], [Email], [Phone], [CreatedAt]) VALUES (4, N'jose da silva junior', N'josesilva@gmail.com', N'11956788072', CAST(N'2025-09-04T18:42:39.003' AS DateTime))
INSERT [dbo].[Customers] ([Id], [Name], [Email], [Phone], [CreatedAt]) VALUES (1002, N'João Silva', N'joao@email.com', N'11987654321', CAST(N'2025-09-05T02:32:09.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (3, 3, 5, 2, CAST(29.90 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (4, 3, 6, 1, CAST(99.90 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (5, 4, 5, 1, CAST(29.90 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [TotalAmount], [Status]) VALUES (3, 1002, CAST(N'2025-09-05T02:38:25.993' AS DateTime), CAST(129.80 AS Decimal(18, 2)), N'Finalizado')
INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [TotalAmount], [Status]) VALUES (4, 1004, CAST(N'2025-09-05T02:38:25.993' AS DateTime), CAST(29.90 AS Decimal(18, 2)), N'Processando')
INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [TotalAmount], [Status]) VALUES (5, 1004, CAST(N'2025-09-05T05:40:28.557' AS DateTime), CAST(79.70 AS Decimal(18, 2)), N'Novo')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatusChanges] ON 

INSERT [dbo].[OrderStatusChanges] ([Id], [OrderId], [OldStatus], [NewStatus], [ChangeDate]) VALUES (3, 3, NULL, N'Novo', CAST(N'2025-09-05T02:38:25.997' AS DateTime))
INSERT [dbo].[OrderStatusChanges] ([Id], [OrderId], [OldStatus], [NewStatus], [ChangeDate]) VALUES (4, 4, NULL, N'Novo', CAST(N'2025-09-05T02:38:25.997' AS DateTime))
INSERT [dbo].[OrderStatusChanges] ([Id], [OrderId], [OldStatus], [NewStatus], [ChangeDate]) VALUES (5, 4, N'Novo', N'Processando', CAST(N'2025-09-05T02:38:25.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderStatusChanges] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [CreatedAt]) VALUES (1, N'Cabo USB-C', N'Cabo USB-C de alta velocidade', CAST(19.90 AS Decimal(18, 2)), 49, CAST(N'2025-09-05T01:09:00.990' AS DateTime))
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [CreatedAt]) VALUES (2, N'Mouse Wireless', N'Mouse ergonômico sem fio', CAST(79.90 AS Decimal(18, 2)), 30, CAST(N'2025-09-05T01:09:00.990' AS DateTime))
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [CreatedAt]) VALUES (4, N'Controle Universal', N'Teste 123', CAST(123.51 AS Decimal(18, 2)), 123, CAST(N'2025-09-05T01:24:01.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderStatusChanges] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[OrderStatusChanges]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusChanges_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderStatusChanges] CHECK CONSTRAINT [FK_OrderStatusChanges_Orders]
GO
USE [master]
GO
